body {
    background-color: whitesmoke
}
h4{
  text-align: center;
  padding-bottom: 2rem;
  color: #DF3535;
}

table{
    margin-top: 5rem;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
a:hover, a:visited{
    color:grey;
}

th{
    background-color: #8B2626;
    color: whitesmoke;
}
form{
    margin-left: 8rem;
}


.panel-body
{

    padding-top: 5rem;
    padding-left:30px;
    margin:auto;
}

#category-panel{
    padding-top: 5rem;
    padding-left:0px;

}

.foodtop {
    /* background-image:url(/office_4-t2.jpg); */
    /* background-image:url(/geek_glasses.jpg); */
     /* background-position: top center;  */
     background-image:url(images/food_wine.jpg); 
      background-position:center top;
      background-size:100%;  
     /* margin-bottom:1rem; */
     
}
#navStyle{
    color: whitesmoke;
    background-color: black;
      margin-bottom: 2.0rem;  
      display:block;

         
}